<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/search_style.css">

    </head>

    <body>
        <div id="ask_guru">
            <input type="text" name="ask_guru" placeholder="I feel like skipping the gym." maxlength="200">
            <input id = "button" type="submit" value="Ask Guru">
        </div>

        <div id="footer">
            <ul>
                <span id = "nav">
                    <li><a class="active" href="#home">Type to Guru</a></li>
                    <li><a href="#guru_says">Saved Ask Gurus</a></li>
                </span>
            </ul>
        </div>
    </body>

</html>