
body {
    background-image: url("images/guru_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
    width: 50%;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    background: white;
    color: black;
    font-size: 130%;
    font-weight: bold;
}

.active {
    text-decoration: none;
}

#ask_guru {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130%;
}

#ask_guru input {
    padding: 10px 12px;
}