
body {
    background-image: url("images/guru_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
	height: 100px;
}

li {
    float: left;
    width: 50%;
    border-right: 1px solid #bbb;
	height: 100px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	height: 100px;
	line-height: 70px;
	font-size: xx-large;
	font-weight: bold;
}

li a:hover {
    text-decoration: none;
    background: white;
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

.active {
    text-decoration: none;
}

#ask_guru {
    text-align: center;
    /*margin-left: 10%;*/
    margin-top: 145%;
	font-size: x-large;
}

#ask_guru input {
    padding: 20px 20px;
	font-weight: bold;

}

#button {
	background-color: #e68a00;
	border: none;
}

